## <font color=blue> Target (ground truth): NC county deaths

Need ...
To figure out what the "naive" answer is. It would be the county ratio multiplied by the state prediction. First, do this for 2021.

In [1]:
import pandas as pd

df = pd.read_csv('raw_data/nyt_us-counties-2021.csv')
# display(df.head(), len(df))

df.columns = map(lambda x: str(x).capitalize(), df.columns)

df = df[df.State=='North Carolina']
df = df.drop(['Cases','State'],axis=1)
df = df[df.County!="Unknown"]

## Re-format

df = df.rename({'Deaths':'True_county_deaths'},axis=1)

df['True_county_deaths'] = df['True_county_deaths'].astype('Int64')
df['Fips'] = df['Fips'].astype('Int64').astype('str')

df = df.reset_index(drop=True)

df_counties = df
df_counties

             Date     County   Fips  True_county_deaths
0      2021-01-01   Alamance  37001                 117
1      2021-01-01  Alexander  37003                  30
2      2021-01-01  Alleghany  37005                   2
3      2021-01-01      Anson  37007                  26
4      2021-01-01       Ashe  37009                  27
...           ...        ...    ...                 ...
36495  2021-12-31      Wayne  37191                 332
36496  2021-12-31     Wilkes  37193                 205
36497  2021-12-31     Wilson  37195                 243
36498  2021-12-31     Yadkin  37197                  90
36499  2021-12-31     Yancey  37199                  36

[36500 rows x 4 columns]

<font color=blue> Get population of each county from covariates json. Just use whatever ones. 2019?

In [3]:
import json

with open('raw_data/county_covariates.json') as f:
    d = json.load(f)
print(len(d))



county_covs = []
for entry in d:
    if entry['state']=='NC':
        county_covs.append(entry)
print(len(county_covs))



df_pop = pd.DataFrame(columns=['Fips','Pop'])

for idx in range(len(county_covs)):
    pop = county_covs[idx]['population']['2019']
    fips = county_covs[idx]['fips']
    df_pop.loc[idx] = pd.Series({'Fips':str(fips), 'Pop':pop})
    
    
tot_pop = sum(df_pop.Pop)
tot_pop

df_pop['Pop_ratio'] = df_pop['Pop'].div(tot_pop)
df_pop

3142
100

     Fips     Pop Pop_ratio
0   37037   74470    0.0071
1   37001  169509  0.016162
2   37057  167609  0.015981
3   37069   69685  0.006644
4   37155  130625  0.012455
..    ...     ...       ...
95  37175   34385  0.003278
96  37171   71783  0.006844
97  37043   11231  0.001071
98  37055   37009  0.003529
99  37047   55508  0.005292

[100 rows x 3 columns]

In [4]:
dff = df_counties.merge(df_pop, on='Fips')
dff

             Date    County   Fips  True_county_deaths     Pop Pop_ratio
0      2021-01-01  Alamance  37001                 117  169509  0.016162
1      2021-01-02  Alamance  37001                 117  169509  0.016162
2      2021-01-03  Alamance  37001                 117  169509  0.016162
3      2021-01-04  Alamance  37001                 117  169509  0.016162
4      2021-01-05  Alamance  37001                 124  169509  0.016162
...           ...       ...    ...                 ...     ...       ...
36495  2021-12-27    Yancey  37199                  36   18069  0.001723
36496  2021-12-28    Yancey  37199                  36   18069  0.001723
36497  2021-12-29    Yancey  37199                  36   18069  0.001723
36498  2021-12-30    Yancey  37199                  36   18069  0.001723
36499  2021-12-31    Yancey  37199                  36   18069  0.001723

[36500 rows x 6 columns]

<font color=blue> Get state predictions for each week (?) or whatever.

# # Need to read all files ...
# # NC FIPS is 37 !!!

# # # # # #
# state_fips = '37'
# # # # # #

# import os

# ddir = 'raw_data/covidhub-trained_ensemble-2021/'

# df_list = []
# for fname in os.listdir(ddir):
#     if fname.endswith('.csv'):
#         fpath = os.path.join(ddir, fname)
#         df = pd.read_csv(fpath)
#         df = df[df.location==state_fips]
#         df = df[df.target.isin(['1 wk ahead cum death',
#                         '2 wk ahead cum death',
#                         '3 wk ahead cum death',
#                         '4 wk ahead cum death'])]
#         df_list.append(df)
# #         print(fname, len(df))

# bigdf = pd.concat(df_list)
# bigdf.to_csv('processed_data/nc_state_projections.csv',index=False)
# bigdf

In [10]:
df = pd.read_csv('processed_data/nc_state_projections.csv')

# Re-format dataframe ...
df.columns = map(lambda x: str(x).capitalize(), df.columns)
df = df[df.Type=='point']
df = df[df.Target=='1 wk ahead cum death']
df = df.drop(['Target','Forecast_date','Quantile','Type','Location'],axis=1)

df = df.rename({'Target_end_date':'Date','Value':'Pred_state_deaths'},axis=1)
df = df.reset_index(drop=True)
df_state_preds = df

# print(len(df_state_preds))
df_state_preds.head()

         Date  Pred_state_deaths
0  2021-02-06               9846
1  2021-02-13              10485
2  2021-02-20              11231
3  2021-02-27              11285
4  2021-03-06              11494

In [11]:
dfff = dff.merge(df_state_preds, on='Date')
dfff

,Date,County,Fips,True_county_deaths,Pop,Pop_ratio,Pred_state_deaths
0,2021-02-06,Alamance,37001,178,169509,0.016162,9846
1,2021-02-06,Alexander,37003,59,37497,0.003575,9846
2,2021-02-06,Alleghany,37005,4,11137,0.001062,9846
3,2021-02-06,Anson,37007,45,24446,0.002331,9846
4,2021-02-06,Ashe,37009,36,27203,0.002594,9846
...,...,...,...,...,...,...,...
3895,2021-12-25,Wayne,37191,332,123131,0.01174,19285
3896,2021-12-25,Wilkes,37193,198,68412,0.006523,19285
3897,2021-12-25,Wilson,37195,243,81801,0.007799,19285
3898,2021-12-25,Yadkin,37197,82,37667,0.003591,19285
3899,2021-12-25,Yancey,37199,36,18069,0.001723,19285

In [6]:
dfff['Naive_county_deaths'] = dfff.apply(lambda x: x.Pop_ratio * x.Pred_state_deaths, axis=1)
dfff

,Date,County,Fips,True_county_deaths,Pop,Pop_ratio,Pred_state_deaths,Naive_county_deaths
0,2021-02-06,Alamance,37001,178,169509,0.016162,9846,159.131602
1,2021-02-06,Alexander,37003,59,37497,0.003575,9846,35.201421
2,2021-02-06,Alleghany,37005,4,11137,0.001062,9846,10.455189
3,2021-02-06,Anson,37007,45,24446,0.002331,9846,22.949408
4,2021-02-06,Ashe,37009,36,27203,0.002594,9846,25.537623
...,...,...,...,...,...,...,...,...
3895,2021-12-25,Wayne,37191,332,123131,0.01174,19285,226.407544
3896,2021-12-25,Wilkes,37193,198,68412,0.006523,19285,125.792797
3897,2021-12-25,Wilson,37195,243,81801,0.007799,19285,150.411866
3898,2021-12-25,Yadkin,37197,82,37667,0.003591,19285,69.260324
3899,2021-12-25,Yancey,37199,36,18069,0.001723,19285,33.224435

In [7]:
# dfff.to_csv('processed_data/naive_county_deaths.csv',index=False)

In [12]:
dfff[dfff.County=='Wake']

,Date,County,Fips,True_county_deaths,Pop,Pop_ratio,Pred_state_deaths
91,2021-02-06,Wake,37183,496,1111761,0.106002,9846
191,2021-02-13,Wake,37183,505,1111761,0.106002,10485
291,2021-02-20,Wake,37183,523,1111761,0.106002,11231
391,2021-02-27,Wake,37183,521,1111761,0.106002,11285
491,2021-03-06,Wake,37183,550,1111761,0.106002,11494
591,2021-05-08,Wake,37183,729,1111761,0.106002,12773
691,2021-05-15,Wake,37183,732,1111761,0.106002,12893
791,2021-05-22,Wake,37183,732,1111761,0.106002,12946
891,2021-05-29,Wake,37183,735,1111761,0.106002,13030
991,2021-06-05,Wake,37183,737,1111761,0.106002,13154
1091,2021-06-12,Wake,37183,737,1111761,0.106002,13210
1191,2021-06-19,Wake,37183,738,1111761,0.106002,13329
1291,2021-06-26,Wake,37183,742,1111761,0.106002,13396
1391,2021-07-03,Wake,37183,737,1111761,0.106002,13471
1491,2021-07-10,Wake,37183,740,1111761,0.106002,13469
1591,2021-07-17,Wake,37183,740,1111761,0.106002,13521
1691,2021-07-24,Wake,37183,749,1111761,0.106002,13568
1791,2021-07-31,Wake,37183,750,1111761,0.106002,13627
1891,2021-08-07,Wake,37183,758,1111761,0.106002,13716
1991,2021-08-14,Wake,37183,759,1111761,0.106002,13883
2091,2021-08-21,Wake,37183,763,1111761,0.106002,13993
2191,2021-08-28,Wake,37183,776,1111761,0.106002,14322
2291,2021-09-04,Wake,37183,782,1111761,0.106002,14642
2391,2021-09-11,Wake,37183,808,1111761,0.106002,15123
2491,2021-09-18,Wake,37183,822,1111761,0.106002,15472
2591,2021-09-25,Wake,37183,839,1111761,0.106002,16129
2691,2021-10-02,Wake,37183,852,1111761,0.106002,16579
2791,2021-10-09,Wake,37183,869,1111761,0.106002,17085
2891,2021-10-16,Wake,37183,881,1111761,0.106002,17532
2991,2021-10-23,Wake,37183,888,1111761,0.106002,17802
3091,2021-10-30,Wake,37183,896,1111761,0.106002,18037
3191,2021-11-06,Wake,37183,896,1111761,0.106002,18267
3291,2021-11-13,Wake,37183,908,1111761,0.106002,18434
3391,2021-11-20,Wake,37183,910,1111761,0.106002,18559
3491,2021-11-27,Wake,37183,915,1111761,0.106002,18733
3591,2021-12-04,Wake,37183,910,1111761,0.106002,18813
3691,2021-12-11,Wake,37183,911,1111761,0.106002,18980
3791,2021-12-18,Wake,37183,913,1111761,0.106002,19116
3891,2021-12-25,Wake,37183,916,1111761,0.106002,19285