In [1]:
import pandas as pd

In [2]:
!pwd

/nas/longleaf/home/k4thryn/Repos/EpSampling

In [ ]:
fname = '/work/users/k/4/k4thryn/Repos/EpSampling/data/COVID_Cases_NC_State_2020_daily.csv'
df = pd.read_csv(fname)
df

In [3]:
fname = '/work/users/k/4/k4thryn/Repos/EpSampling/data/COVID_Cases_NC_County_2020_daily.csv'
df = pd.read_csv(fname)
df

         COUNTY   FIPS        DATE  CASES_C  CASES
0      Alamance  37001  2020-03-03        0      0
1      Alamance  37001  2020-03-04        0      0
2      Alamance  37001  2020-03-05        0      0
3      Alamance  37001  2020-03-06        0      0
4      Alamance  37001  2020-03-07        0      0
...         ...    ...         ...      ...    ...
30395    Yancey  37199  2020-12-27     1010      4
30396    Yancey  37199  2020-12-28     1016      6
30397    Yancey  37199  2020-12-29     1019      3
30398    Yancey  37199  2020-12-30     1020      1
30399    Yancey  37199  2020-12-31     1031     11

[30400 rows x 5 columns]

In [6]:
wdir = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
dname = 'NC_county_acs5_2021_age_sex.csv'
fname = wdir+dname

display(pd.read_csv(fname))

,GEOID,POP,POP_M,POP_F,POP_A0004,POP_A0509,POP_A1014,POP_A1517,POP_A1819,POP_A20,...,POP_A5054,POP_A5559,POP_A6061,POP_A6264,POP_A6566,POP_A6769,POP_A7074,POP_A7579,POP_A8084,POP_A85p
0,37001,169185,80687,88498,9733,10441,10964,6617,6695,2813,...,11540,12198,4627,5579,3885,5390,7165,4477,3800,3500
1,37003,36491,18568,17923,1600,1691,2675,1424,696,377,...,2612,2691,1163,1379,1216,1148,1864,1623,690,841
2,37005,10910,5372,5538,454,595,473,342,197,88,...,748,748,526,528,260,541,952,601,293,358
3,37007,22388,11299,11089,1122,1153,1536,810,538,225,...,1564,1614,785,766,845,805,899,787,432,423
4,37009,26598,13095,13503,1066,1182,1508,869,521,281,...,1820,2009,1030,1259,942,1252,1921,1280,726,744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,117692,57965,59727,7572,7298,8513,4774,2778,2131,...,7300,7256,3532,4752,2491,3488,5701,3483,2267,1871
96,37193,66335,33111,33224,3278,3528,4077,2659,1402,1004,...,4712,5324,1661,2967,1463,2895,3994,2736,1547,1686
97,37195,78844,37482,41362,4679,4726,5581,3276,2196,1081,...,5027,5581,1863,3426,2511,2873,3463,2304,1798,1488
98,37197,37198,18636,18562,1837,1901,2629,1443,661,406,...,2888,3081,1022,1578,925,1432,1808,1525,757,866
99,37199,18357,9079,9278,842,937,974,645,314,164,...,1391,1125,557,1031,412,916,1430,815,642,532

In [22]:
import os

dfs = []
tot = 0

for f in os.listdir(wdir):
    if 'COVID' in f: continue
    print(f)
    fname = wdir+f
    df = pd.read_csv(fname)
    tot += len(df.columns)
    display(df)
    
    dfs.append(df)
    
print(tot)

NC_county_acs5_2021_age_sex.csv

,GEOID,POP,POP_M,POP_F,POP_A0004,POP_A0509,POP_A1014,POP_A1517,POP_A1819,POP_A20,...,POP_A5054,POP_A5559,POP_A6061,POP_A6264,POP_A6566,POP_A6769,POP_A7074,POP_A7579,POP_A8084,POP_A85p
0,37001,169185,80687,88498,9733,10441,10964,6617,6695,2813,...,11540,12198,4627,5579,3885,5390,7165,4477,3800,3500
1,37003,36491,18568,17923,1600,1691,2675,1424,696,377,...,2612,2691,1163,1379,1216,1148,1864,1623,690,841
2,37005,10910,5372,5538,454,595,473,342,197,88,...,748,748,526,528,260,541,952,601,293,358
3,37007,22388,11299,11089,1122,1153,1536,810,538,225,...,1564,1614,785,766,845,805,899,787,432,423
4,37009,26598,13095,13503,1066,1182,1508,869,521,281,...,1820,2009,1030,1259,942,1252,1921,1280,726,744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,117692,57965,59727,7572,7298,8513,4774,2778,2131,...,7300,7256,3532,4752,2491,3488,5701,3483,2267,1871
96,37193,66335,33111,33224,3278,3528,4077,2659,1402,1004,...,4712,5324,1661,2967,1463,2895,3994,2736,1547,1686
97,37195,78844,37482,41362,4679,4726,5581,3276,2196,1081,...,5027,5581,1863,3426,2511,2873,3463,2304,1798,1488
98,37197,37198,18636,18562,1837,1901,2629,1443,661,406,...,2888,3081,1022,1578,925,1432,1808,1525,757,866
99,37199,18357,9079,9278,842,937,974,645,314,164,...,1391,1125,557,1031,412,916,1430,815,642,532

NC_county_acs5_2021_education.csv

,GEOID,POP_A25p,EDU_ltHS,EDU_HS,EDU_ASSOC,EDU_BACH,EDU_MAST,EDU_PROF,EDU_DOCT
0,37001,113559,13953,57362,12324,20999,6608,1009,1304
1,37003,26182,3921,15314,3046,2801,822,89,189
2,37005,8383,1722,4227,725,1067,526,47,69
3,37007,16003,2804,9826,1492,1397,401,15,68
4,37009,20327,2638,10935,2779,2523,1177,104,171
...,...,...,...,...,...,...,...,...,...
95,37191,78168,11071,41425,9704,11347,3809,448,364
96,37193,47931,9024,25756,5124,5634,1747,285,361
97,37195,53846,9600,28430,5183,6969,2959,425,280
98,37197,26517,3813,15766,3234,2872,617,77,138
99,37199,13739,1654,7867,1425,1755,813,178,47

NC_county_acs5_2021_householdsize.csv

    GEOID     HH  HH_1P  HH_2P  HH_3P  HH_4P  HH_5P  HH_6P  HH_7pP
0   37001  66311  19741  22838  10741   8117   2989   1395     490
1   37003  13496   3281   5048   2130   2007    655    190     185
2   37005   4772   1364   2152    602    394    173     73      14
3   37007   8381   2946   2750   1171    958    385    136      35
4   37009  11723   3423   5226   1362   1076    523     34      79
..    ...    ...    ...    ...    ...    ...    ...    ...     ...
95  37191  46761  13490  15506   8064   5813   2567    798     523
96  37193  27265   7486  10985   3727   3090   1322    389     266
97  37195  31980   9862  10997   4795   3595   1820    669     242
98  37197  14829   4216   5596   2346   1626    661    193     191
99  37199   7618   2173   3282    947    685    389     74      68

[100 rows x 9 columns]

NC_county_acs5_2021_income.csv

,GEOID,MHI,HH,HHI_00_10k,HHI_10_15k,HHI_15_20k,HHI_20_25k,HHI_25_30k,HHI_30_35k,HHI_35_40k,HHI_40_45k,HHI_45_50k,HHI_50_60k,HHI_60_75k,HHI_75_100k,HHI_100_125k,HHI_125_150k,HHI_150_200k,HHI_200k_p
0,37001,55078,66311,3948,3012,3759,3359,3891,3528,2804,3127,3072,5085,6324,8761,6165,3767,3363,2346
1,37003,55041,13496,675,493,756,632,814,686,462,764,737,1346,1362,1709,1188,680,594,598
2,37005,38930,4772,292,408,351,284,375,360,402,195,230,312,414,428,249,182,98,192
3,37007,39862,8381,538,610,653,836,647,495,426,417,363,717,753,763,349,395,303,116
4,37009,43938,11723,808,675,710,725,893,970,545,719,513,1107,1060,1065,668,762,342,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,49488,46761,2841,2623,2652,2466,3040,2713,2552,2489,2215,4059,4650,5476,3706,2329,1513,1437
96,37193,46079,27265,1764,1570,1924,1726,1747,1917,1675,1010,1515,1984,2947,3234,1841,907,784,720
97,37195,47348,31980,2464,2176,1931,2406,1677,1589,1392,1477,1579,2792,3057,3450,2363,1364,1364,899
98,37197,51348,14829,924,531,1067,952,827,782,831,820,509,1256,1553,1875,1161,497,552,692
99,37199,45324,7618,627,521,339,459,460,463,338,584,282,414,971,858,457,465,202,178

NC_county_acs5_2021_industry_level1.csv

,GEOID,POP_16p_EMP,IND_AFFHM_AFFH,IND_AFFHM_MQE,IND_CONS,IND_MAN,IND_WHT,IND_RETT,IND_TWU_TW,IND_TWU_U,...,IND_FIRR_RR,IND_PSMAW_PST,IND_PSMAW_M,IND_PSMAW_ASWM,IND_EHCSA_E,IND_EHCSA_HCSA,IND_AERAF_AER,IND_AERAF_AF,IND_OSER,IND_PUBA
0,37001,79356,474,31,6093,12134,2436,10426,2996,577,...,1034,3367,9,3518,7673,12384,1082,5212,3229,3114
1,37003,16416,427,0,1134,4378,378,2084,950,155,...,84,286,0,340,1341,1902,153,901,696,710
2,37005,4324,255,0,507,534,76,426,38,72,...,86,270,0,146,394,667,131,220,127,150
3,37007,9137,283,0,489,2393,134,669,566,168,...,22,167,0,112,755,1431,42,398,465,742
4,37009,12239,455,0,1542,1458,317,1679,284,55,...,216,402,0,406,818,1731,216,848,582,520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,51281,1875,52,2999,7268,1471,6547,1886,511,...,448,1955,5,2020,4661,7179,596,3926,2855,3285
96,37193,27997,810,27,2054,4686,657,4475,1661,156,...,250,848,172,1000,1857,4131,370,1385,1596,876
97,37195,34091,552,17,2912,5793,965,3852,897,207,...,305,1054,0,1564,2438,5039,375,2795,1749,1329
98,37197,16821,392,37,1971,3365,450,1403,674,75,...,96,700,26,1292,820,2459,225,859,717,658
99,37199,7569,122,78,711,1251,23,986,311,61,...,173,166,6,230,571,1122,130,430,407,498

NC_county_acs5_2021_occupancy.csv

,GEOID,HU,HU_OCC,HU_VAC,HU_OCC_OWN,HU_OCC_RENT,HU_OCC_OPRlt050,HU_OCC_OPR051100,HU_OCC_OPR101150,HU_OCC_OPR151200,HU_OCC_OPRgt200
0,37001,72651,66311,6340,44128,22183,48899,16244,1002,152,14
1,37003,15997,13496,2501,10986,2510,9567,3574,201,141,13
2,37005,7721,4772,2949,3790,982,3785,877,95,5,10
3,37007,10027,8381,1646,5736,2645,6564,1609,176,32,0
4,37009,17006,11723,5283,9243,2480,9158,2421,114,21,9
...,...,...,...,...,...,...,...,...,...,...,...
95,37191,52698,46761,5937,29147,17614,34083,11431,945,177,125
96,37193,31783,27265,4518,20301,6964,20478,6418,320,25,24
97,37195,36195,31980,4215,18707,13273,23182,7882,670,154,92
98,37197,17013,14829,2184,11331,3498,11333,3099,338,59,0
99,37199,11224,7618,3606,5844,1774,5801,1694,81,42,0

NC_county_acs5_2021_occupation_level2.csv

,GEOID,POP_16p_EMP,OCC_MBSA_MBF,OCC_MBSA_CES,OCC_MBSA_ELCAM,OCC_MBSA_HCPT,OCC_SERV_HCS,OCC_SERV_PS,OCC_SERV_FPS,OCC_SERV_BGM,OCC_SERV_PCS,OCC_SALES_SR,OCC_SALES_OAS,OCC_NRCM_FFF,OCC_NRCM_CE,OCC_NRCM_IMR,OCC_PTMM_P,OCC_PTMM_T,OCC_PTMM_MM
0,37001,79356,10554,3859,7170,5122,1965,1677,4301,3251,1611,8375,9923,213,4224,3133,7670,2548,3760
1,37003,16416,2188,292,1290,910,352,350,694,455,199,1262,1628,46,877,775,3145,1091,862
2,37005,4324,609,59,623,216,238,37,192,279,62,410,358,117,430,136,235,159,164
3,37007,9137,752,109,798,530,471,253,416,465,222,539,701,134,442,313,1754,749,489
4,37009,12239,1565,221,1049,741,537,193,650,537,266,1268,1351,298,1209,611,908,525,310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,51281,6119,1592,5028,3009,1877,1149,3249,2255,1033,4968,4953,1128,2374,2885,5131,2156,2375
96,37193,27997,3043,837,2562,1801,1151,483,1287,1462,737,2647,2748,328,1534,1123,3248,1096,1910
97,37195,34091,4679,1529,3017,2318,1309,694,1652,1245,760,3494,3046,353,1965,1290,3727,1279,1734
98,37197,16821,2323,739,1313,1142,559,346,745,777,281,1283,1719,187,1012,766,1777,791,1061
99,37199,7569,888,216,651,496,433,285,278,376,144,770,670,92,544,325,891,210,300

NC_county_acs5_2021_race-ethnicity.csv

,GEOID,POP,POP_WHITENH,POP_BLACKNH,POP_AIANNH,POP_ASIANNH,POP_NHPINH,POP_OTH2PLNH,POP_HISP
0,37001,169185,105121,33083,291,2811,46,5655,22178
1,37003,36491,31505,1845,59,409,0,848,1825
2,37005,10910,9413,181,34,56,2,130,1094
3,37007,22388,9923,10744,38,205,8,522,948
4,37009,26598,24484,252,84,123,5,265,1385
...,...,...,...,...,...,...,...,...,...
95,37191,117692,61317,35731,146,1275,180,4348,14695
96,37193,66335,57527,2578,226,375,211,907,4511
97,37195,78844,36246,31120,213,858,0,1854,8553
98,37197,37198,31061,1158,30,43,19,629,4258
99,37199,18357,16937,108,84,64,6,172,986

NC_county_acs5_2021_unitsinstructure.csv

,GEOID,HU,HU_UIS01D,HU_UIS01A,HU_UIS02,HU_UIS0304,HU_UIS0509,HU_UIS1019,HU_UIS2049,HU_UIS50P,HU_UISOTHER
0,37001,72651,48324,2545,1702,2606,3574,2523,2113,836,8428
1,37003,15997,11094,115,243,162,69,110,12,0,4192
2,37005,7721,6094,44,100,18,162,74,14,0,1215
3,37007,10027,7110,74,108,117,242,42,78,34,2222
4,37009,17006,12448,111,360,398,252,204,101,65,3067
...,...,...,...,...,...,...,...,...,...,...,...
95,37191,52698,32231,1154,1982,1460,1870,338,932,834,11897
96,37193,31783,21980,23,476,489,487,250,270,398,7410
97,37195,36195,23186,1022,2600,1531,1813,330,299,341,5073
98,37197,17013,11857,63,444,132,147,100,281,25,3964
99,37199,11224,8123,58,158,365,172,76,100,6,2166

NC_county_groupquarters_population_age.csv

,GEOID,GQ_TOTAL,GQ_M,GQ_M0017,GQ_M0017_INST,GQ_M0017_INST_COR,GQ_M0017_INST_JUV,GQ_M0017_INST_NUR,GQ_M0017_INST_OTH,GQ_M0017_NONI,...,GQ_F65p,GQ_F65p_INST,GQ_F65p_INST_COR,GQ_F65p_INST_JUV,GQ_F65p_INST_NUR,GQ_F65p_INST_OTH,GQ_F65p_NONI,GQ_F65p_NONI_UNI,GQ_F65p_NONI_MIL,GQ_F65p_NONI_OTH
0,37001,6092,2578,19,10,0,10,0,0,9,...,536,405,0,0,398,7,131,0,0,131
1,37003,1492,1380,12,11,0,11,0,0,1,...,75,66,0,0,66,0,9,0,0,9
2,37005,246,197,2,2,2,0,0,0,0,...,29,29,1,0,28,0,0,0,0,0
3,37007,1641,829,0,0,0,0,0,0,0,...,135,132,13,0,119,0,3,0,0,3
4,37009,455,257,4,2,0,2,0,0,2,...,167,162,0,0,162,0,5,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,3972,2826,34,29,0,11,0,18,5,...,433,341,3,0,198,140,92,0,0,92
96,37193,1051,637,64,60,6,54,0,0,4,...,325,319,0,0,319,0,6,0,0,6
97,37195,973,554,12,6,4,2,0,0,6,...,334,331,0,0,331,0,3,0,0,3
98,37197,461,238,6,3,0,3,0,0,3,...,153,150,0,0,150,0,3,0,0,3
99,37199,131,67,1,0,0,0,0,0,1,...,41,41,0,0,41,0,0,0,0,0

NC_county_total_pop_census_2020.csv

    GEOID     POP
0   37001  171415
1   37003   36444
2   37005   10888
3   37007   22055
4   37009   26577
..    ...     ...
95  37191  117333
96  37193   65969
97  37195   78784
98  37197   37214
99  37199   18470

[100 rows x 2 columns]

202

In [19]:
first_df = pd.read_csv(wdir+'NC_county_acs5_2021_age_sex.csv')

In [20]:
for each in dfs:
    df = pd.merge(first_df, each, on='GEOID')
    first_df = df

/tmp/ipykernel_2411890/3888571347.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'POP_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = pd.merge(first_df, each, on='GEOID')

In [21]:
df

,GEOID,POP_x,POP_M_x,POP_F_x,POP_A0004_x,POP_A0509_x,POP_A1014_x,POP_A1517_x,POP_A1819_x,POP_A20_x,...,GQ_F65p_INST,GQ_F65p_INST_COR,GQ_F65p_INST_JUV,GQ_F65p_INST_NUR,GQ_F65p_INST_OTH,GQ_F65p_NONI,GQ_F65p_NONI_UNI,GQ_F65p_NONI_MIL,GQ_F65p_NONI_OTH,POP_y
0,37001,169185,80687,88498,9733,10441,10964,6617,6695,2813,...,405,0,0,398,7,131,0,0,131,171415
1,37003,36491,18568,17923,1600,1691,2675,1424,696,377,...,66,0,0,66,0,9,0,0,9,36444
2,37005,10910,5372,5538,454,595,473,342,197,88,...,29,1,0,28,0,0,0,0,0,10888
3,37007,22388,11299,11089,1122,1153,1536,810,538,225,...,132,13,0,119,0,3,0,0,3,22055
4,37009,26598,13095,13503,1066,1182,1508,869,521,281,...,162,0,0,162,0,5,0,0,5,26577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,37191,117692,57965,59727,7572,7298,8513,4774,2778,2131,...,341,3,0,198,140,92,0,0,92,117333
96,37193,66335,33111,33224,3278,3528,4077,2659,1402,1004,...,319,0,0,319,0,6,0,0,6,65969
97,37195,78844,37482,41362,4679,4726,5581,3276,2196,1081,...,331,0,0,331,0,3,0,0,3,78784
98,37197,37198,18636,18562,1837,1901,2629,1443,661,406,...,150,0,0,150,0,3,0,0,3,37214
99,37199,18357,9079,9278,842,937,974,645,314,164,...,41,0,0,41,0,0,0,0,0,18470