In [1]:
import pandas as pd
import numpy as np
import csv
from tqdm import tqdm
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

d = datetime.today().strftime('%Y%m%d-%H%M%S')
data_dir = '/work/users/k/4/k4thryn/Repos/EpSampling/data'

import glob
def get_latest(csv_name, data_dir=f'{data_dir}/processed/'):
#     csv_name = 'all_county_acs_covs'
    dates = sorted([x[-19:-4] for x in glob.glob(f'{data_dir}{csv_name}*')])
    latest = dates[-1]
    file_name = f'{data_dir}{csv_name}_{latest}.csv'
    return file_name

In [1]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:          377Gi        89Gi        24Gi       144Mi       262Gi       248Gi
Swap:         2.0Gi       696Mi       1.3Gi

In [9]:
csv = get_latest('merged_covs_deaths',f'{data_dir}/processed/')
_df = pd.read_csv(csv)

# acs_covs = list(_df.columns[11:].values)
# death_covs = ['Fips','Date','COVIDhubEns_state_deaths', 'Pop', 'Pop_ratio','Naive_county_deaths']
# target = ['True_county_deaths']

# all_covs = target + death_covs + acs_covs
# df = _df[all_covs]
# df

df = _df
df

,State_fips,State,Postal,County,Fips,Date,COVIDhubEns_state_deaths,Pop,Pop_ratio,True_county_deaths,...,HU_x15,HU_UIS01D,HU_UIS01A,HU_UIS02,HU_UIS0304,HU_UIS0509,HU_UIS1019,HU_UIS2049,HU_UIS50P,HU_UISOTHER
0,41,OR,OR,Baker,41001,2020-05-09,125.655,16124,0.003823,0.0,...,8654,6300,109,162,159,183,105,90,157,1389
1,41,OR,OR,Baker,41001,2020-05-16,143.950,16124,0.003823,0.0,...,8654,6300,109,162,159,183,105,90,157,1389
2,41,OR,OR,Baker,41001,2020-05-23,150.378,16124,0.003823,0.0,...,8654,6300,109,162,159,183,105,90,157,1389
3,41,OR,OR,Baker,41001,2020-05-30,159.093,16124,0.003823,0.0,...,8654,6300,109,162,159,183,105,90,157,1389
4,41,OR,OR,Baker,41001,2020-06-06,164.199,16124,0.003823,0.0,...,8654,6300,109,162,159,183,105,90,157,1389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332432,24,MD,MD,Baltimore city,24510,2022-04-09,14367.000,593490,0.098168,1765.0,...,293718,43042,149324,14615,16871,17300,12674,7999,31436,457
332433,24,MD,MD,Baltimore city,24510,2022-04-16,14391.000,593490,0.098168,1771.0,...,293718,43042,149324,14615,16871,17300,12674,7999,31436,457
332434,24,MD,MD,Baltimore city,24510,2022-04-23,14423.000,593490,0.098168,1771.0,...,293718,43042,149324,14615,16871,17300,12674,7999,31436,457
332435,24,MD,MD,Baltimore city,24510,2022-04-30,14443.000,593490,0.098168,1773.0,...,293718,43042,149324,14615,16871,17300,12674,7999,31436,457
332436,24,MD,MD,Baltimore city,24510,2022-05-07,14488.000,593490,0.098168,1776.0,...,293718,43042,149324,14615,16871,17300,12674,7999,31436,457

In [11]:
df_states = df[['Date','COVIDhubEns_state_deaths','State']]
df_states.drop_duplicates(inplace=True)

df = df_states[df_states.State=='NY']
df

              Date  COVIDhubEns_state_deaths State
99924   2020-04-18                 13196.186    NY
99925   2020-05-02                 22097.638    NY
99926   2020-05-09                 26130.923    NY
99927   2020-05-16                 28353.774    NY
99928   2020-05-23                 29558.086    NY
...            ...                       ...   ...
100026  2022-04-09                 68053.000    NY
100027  2022-04-16                 68098.000    NY
100028  2022-04-23                 68210.000    NY
100029  2022-04-30                 68347.000    NY
100030  2022-05-07                 68472.000    NY

[107 rows x 3 columns]

In [12]:
df.sort_values('COVIDhubEns_state_deaths')

              Date  COVIDhubEns_state_deaths State
99924   2020-04-18                 13196.186    NY
99925   2020-05-02                 22097.638    NY
99926   2020-05-09                 26130.923    NY
99927   2020-05-16                 28353.774    NY
99928   2020-05-23                 29558.086    NY
...            ...                       ...   ...
100026  2022-04-09                 68053.000    NY
100027  2022-04-16                 68098.000    NY
100028  2022-04-23                 68210.000    NY
100029  2022-04-30                 68347.000    NY
100030  2022-05-07                 68472.000    NY

[107 rows x 3 columns]

In [13]:
!jupyter notebook --NotebookApp.iopub_Data_Rate_Limit=1e10

usage: jupyter [-h] [--version] [--config-dir] [--data-dir] [--runtime-dir]
               [--paths] [--json] [--debug]
               [subcommand]

Jupyter: Interactive Computing

positional arguments:
  subcommand     the subcommand to launch

options:
  -h, --help     show this help message and exit
  --version      show the versions of core jupyter packages and exit
  --config-dir   show Jupyter config dir
  --data-dir     show Jupyter data dir
  --runtime-dir  show Jupyter runtime dir
  --paths        show all Jupyter paths. Add --json for machine-readable
                 format.
  --json         output paths as machine-readable json
  --debug        output debug information about paths

Available subcommands: dejavu execute kernel kernelspec migrate nbconvert run
troubleshoot trust

Jupyter command `jupyter-notebook` not found.