In [1]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *

from epsampling.utils import load_csv
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

DATA_DIR = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
DT = datetime.today().strftime('%Y%m%d-%H%M%S')

In [6]:
timestamp = '20240926-121242'

fpath = os.path.join(DATA_DIR,'processed',f'formatted_state_fips_{timestamp}.csv')
df_fips = pd.read_csv(fpath)

fpath = os.path.join(DATA_DIR,'processed',f'formatted_COVIDhub-ensemble_{timestamp}.csv')
df_hub = pd.read_csv(fpath)

fpath = os.path.join(DATA_DIR,'processed',f'formatted_nytimes-us-counties_{timestamp}.csv')
df_nyt = pd.read_csv(fpath)

In [8]:
display(df_fips.head(), df_hub.head(), df_nyt.head())

        State Postal  Fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

  Fips        Date  Pred_state_deaths
0   66  2020-06-13           0.084503
1   69  2020-06-13           0.410538
2   72  2020-06-13           4.539067
3   78  2020-06-13           0.123634
4   11  2020-06-13          22.548359

         Date  Fips  True_county_deaths
0  2020-06-13  1001                 6.0
1  2020-06-13  1003                 9.0
2  2020-06-13  1005                 1.0
3  2020-06-13  1007                 1.0
4  2020-06-13  1009                 1.0