In [29]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *
DATA_DIR = '/work/users/k/4/k4thryn/Repos/OLD_EpSampling_Nov2024/data/'

# pd.set_option('display.max_columns', None)

In [35]:
# # SAVE CSV!
# dt = datetime.today().strftime('%Y%m%d-%H%M%S')

# fpath = os.path.join(DATA_DIR,'processed','scratch',f'cfa_df_{dt}.csv')
# df.to_csv(fpath,index=False)
# print(dt)

# READ BACK AND CHECK
ts = '20241212-050621'
fpath = os.path.join(DATA_DIR,'processed','scratch',f'cfa_df_{ts}.csv')

df = pd.read_csv(fpath)
# display(df, dff)

# # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # #
# # # # # # # # # # # # # # # # # # # # # # # #

# pd.set_option('display.max_columns', None)

fpath = os.path.join(DATA_DIR,f'fips-by-state.csv')
df_fips = pd.read_csv(fpath,encoding = 'ISO-8859-1')
df_fips.rename({'01001':'Fips','Autauga County': 'County','AL': 'State'},axis=1,inplace=True)
df_fips.set_index('Fips',inplace=True)

# pd.set_option('display.max_columns', None)

df = pd.merge(df, df_fips, on='Fips')

# df = df[['Date','County','Fips','Proj_state_inc_deaths',
#          'True_county_inc_deaths','Pop','Naive_proj_deaths']]

cols = [
        'Date','County','Fips','Proj_state_inc_deaths',
        'True_county_inc_deaths','Pop','Naive_proj_deaths',
    
    'True_county_inc_deaths_tm_4',
    'True_county_inc_deaths_tm_5',
    'True_county_inc_deaths_tm_6',
#     'True_county_inc_deaths_tm_7',
    
        'HU_OCC','EDU_DOCT','POP_NH','OCC_SERV','HHI_00_10k',
       ]

df = df[cols]
df

,Date,County,Fips,Proj_state_inc_deaths,True_county_inc_deaths,Pop,Naive_proj_deaths,True_county_inc_deaths_tm_4,True_county_inc_deaths_tm_5,True_county_inc_deaths_tm_6,HU_OCC,EDU_DOCT,POP_NH,OCC_SERV,HHI_00_10k
0,20200620,Alamance County,37001,122.952380,3.0,169185,2.006526,NaN,NaN,NaN,66311,1304,147007,12805,3948
1,20200627,Alamance County,37001,100.308655,1.0,169185,1.636991,NaN,NaN,NaN,66311,1304,147007,12805,3948
2,20200704,Alamance County,37001,119.399124,1.0,169185,1.948538,NaN,NaN,NaN,66311,1304,147007,12805,3948
3,20200711,Alamance County,37001,100.119064,0.0,169185,1.633897,NaN,NaN,NaN,66311,1304,147007,12805,3948
4,20200718,Alamance County,37001,120.176330,2.0,169185,1.961222,NaN,NaN,NaN,66311,1304,147007,12805,3948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9895,20220409,Yancey County,37199,55.000000,0.0,18357,0.097389,0.0,1.0,0.0,7618,47,17371,1516,627
9896,20220416,Yancey County,37199,41.000000,0.0,18357,0.072599,0.0,0.0,1.0,7618,47,17371,1516,627
9897,20220423,Yancey County,37199,60.000000,0.0,18357,0.106243,0.0,0.0,0.0,7618,47,17371,1516,627
9898,20220430,Yancey County,37199,33.000000,0.0,18357,0.058433,0.0,0.0,0.0,7618,47,17371,1516,627
9899,20220507,Yancey County,37199,33.000000,6.0,18357,0.058433,0.0,0.0,0.0,7618,47,17371,1516,627

In [36]:
df['County'] = df.County.apply(lambda x: x[:x.index(' ')])  

dff = df[df.Date.isin([20220205, 20220212, 20220219])]
dff = dff[(dff['Pop'] < 3600.5) 
         | (dff['Pop'] > 1000000) | (dff['County'] == 'Orange')
        | (dff['County'] == 'Wake')]

dff

,Date,County,Fips,Proj_state_inc_deaths,True_county_inc_deaths,Pop,Naive_proj_deaths,True_county_inc_deaths_tm_4,True_county_inc_deaths_tm_5,True_county_inc_deaths_tm_6,HU_OCC,EDU_DOCT,POP_NH,OCC_SERV,HHI_00_10k
5926,20220205,Mecklenburg,37119,430.0,37.0,1100984,45.666260,19.0,3.0,8.0,435562,9016,950418,83019,18929
5927,20220212,Mecklenburg,37119,453.0,31.0,1100984,48.108874,36.0,19.0,3.0,435562,9016,950418,83019,18929
5928,20220219,Mecklenburg,37119,561.0,23.0,1100984,59.578539,25.0,36.0,19.0,435562,9016,950418,83019,18929
6718,20220205,Orange,37135,430.0,0.0,147376,6.112814,1.0,0.0,1.0,54783,7667,134701,10728,3721
6719,20220212,Orange,37135,453.0,1.0,147376,6.439779,0.0,1.0,0.0,54783,7667,134701,10728,3721
6720,20220219,Orange,37135,561.0,0.0,147376,7.975090,1.0,0.0,1.0,54783,7667,134701,10728,3721
8797,20220205,Tyrrell,37177,430.0,0.0,3436,0.142517,0.0,0.0,0.0,1415,57,3295,333,71
8798,20220212,Tyrrell,37177,453.0,0.0,3436,0.150140,0.0,0.0,0.0,1415,57,3295,333,71
8799,20220219,Tyrrell,37177,561.0,1.0,3436,0.185935,0.0,0.0,0.0,1415,57,3295,333,71
9094,20220205,Wake,37183,430.0,2.0,1112883,46.159803,0.0,4.0,3.0,422144,19892,998134,72454,14494
9095,20220212,Wake,37183,453.0,12.0,1112883,48.628815,19.0,0.0,4.0,422144,19892,998134,72454,14494
9096,20220219,Wake,37183,561.0,28.0,1112883,60.222440,7.0,19.0,0.0,422144,19892,998134,72454,14494

In [37]:
dff.columns

Index(['Date', 'County', 'Fips', 'Proj_state_inc_deaths',
       'True_county_inc_deaths', 'Pop', 'Naive_proj_deaths',
       'True_county_inc_deaths_tm_4', 'True_county_inc_deaths_tm_5',
       'True_county_inc_deaths_tm_6', 'HU_OCC', 'EDU_DOCT', 'POP_NH',
       'OCC_SERV', 'HHI_00_10k'],
      dtype='object')

In [38]:
dff['Proj_state_inc_deaths'] = dff.Proj_state_inc_deaths.apply(lambda x: int(x))
dff['True_county_inc_deaths_tm_4'] = dff.True_county_inc_deaths_tm_4.apply(lambda x: int(x))
dff['True_county_inc_deaths_tm_5'] = dff.True_county_inc_deaths_tm_5.apply(lambda x: int(x))
dff['True_county_inc_deaths_tm_6'] = dff.True_county_inc_deaths_tm_6.apply(lambda x: int(x))
dff['True_county_inc_deaths'] = dff.True_county_inc_deaths.apply(lambda x: int(x))

dff

,Date,County,Fips,Proj_state_inc_deaths,True_county_inc_deaths,Pop,Naive_proj_deaths,True_county_inc_deaths_tm_4,True_county_inc_deaths_tm_5,True_county_inc_deaths_tm_6,HU_OCC,EDU_DOCT,POP_NH,OCC_SERV,HHI_00_10k
5926,20220205,Mecklenburg,37119,430,37,1100984,45.666260,19,3,8,435562,9016,950418,83019,18929
5927,20220212,Mecklenburg,37119,453,31,1100984,48.108874,36,19,3,435562,9016,950418,83019,18929
5928,20220219,Mecklenburg,37119,561,23,1100984,59.578539,25,36,19,435562,9016,950418,83019,18929
6718,20220205,Orange,37135,430,0,147376,6.112814,1,0,1,54783,7667,134701,10728,3721
6719,20220212,Orange,37135,453,1,147376,6.439779,0,1,0,54783,7667,134701,10728,3721
6720,20220219,Orange,37135,561,0,147376,7.975090,1,0,1,54783,7667,134701,10728,3721
8797,20220205,Tyrrell,37177,430,0,3436,0.142517,0,0,0,1415,57,3295,333,71
8798,20220212,Tyrrell,37177,453,0,3436,0.150140,0,0,0,1415,57,3295,333,71
8799,20220219,Tyrrell,37177,561,1,3436,0.185935,0,0,0,1415,57,3295,333,71
9094,20220205,Wake,37183,430,2,1112883,46.159803,0,4,3,422144,19892,998134,72454,14494
9095,20220212,Wake,37183,453,12,1112883,48.628815,19,0,4,422144,19892,998134,72454,14494
9096,20220219,Wake,37183,561,28,1112883,60.222440,7,19,0,422144,19892,998134,72454,14494

In [39]:
dff.columns

Index(['Date', 'County', 'Fips', 'Proj_state_inc_deaths',
       'True_county_inc_deaths', 'Pop', 'Naive_proj_deaths',
       'True_county_inc_deaths_tm_4', 'True_county_inc_deaths_tm_5',
       'True_county_inc_deaths_tm_6', 'HU_OCC', 'EDU_DOCT', 'POP_NH',
       'OCC_SERV', 'HHI_00_10k'],
      dtype='object')

In [41]:
# for x in dff.columns:
#     print(f" '{x}': '',")
#     print(f"'{x}',")

In [42]:
dts = [str(x) for x in dff.Date.values]
new_dts = []
for x in dts:
    dt = '-'.join([x[:4], x[4:6], x[6:]])
    new_dts.append(dt)
    
dff['Date'] = new_dts


dff.sort_values('Date',inplace=True)
dff = dff.reset_index(drop=True)

In [48]:
d = {
#     'Date': '',
#     'County': '',
#     'Fips': '',
    'Proj_state_inc_deaths': 'PROJ state',
    'True_county_inc_deaths': 'TRUE count',
    'Pop': 'COUNTY pop',
    'Naive_proj_deaths': 'Naive PROJ',
    'True_county_inc_deaths_tm_4': 'TRUE tm4',
    'True_county_inc_deaths_tm_5': 'TRUE tm5',
    'True_county_inc_deaths_tm_6': 'TRUE tm6',
    'True_county_inc_deaths_tm_7': 'TRUE tm7',
#     'HU_OCC': '',
#     'EDU_DOCT': '',
#     'POP_NH': '',
#     'OCC_SERV': '',
#     'HHI_00_10k': '',
    
}

In [52]:
dfff = dff[[
            'Date',
            'County',
#             'Fips',
            'Pop',
            'Proj_state_inc_deaths',
            'True_county_inc_deaths',
            
            'Naive_proj_deaths'
          ]]

dfff.rename(d,axis=1,inplace=True)

with pd.option_context('display.precision', 3):
    dfff.style.set_table_styles([dict(selector="th",props=[('max-width', '1px')])])
    display(dfff)

          Date       County  COUNTY pop  PROJ state  TRUE count  Naive PROJ
0   2022-02-05  Mecklenburg     1100984         430          37      45.666
1   2022-02-05       Orange      147376         430           0       6.113
2   2022-02-05      Tyrrell        3436         430           0       0.143
3   2022-02-05         Wake     1112883         430           2      46.160
4   2022-02-12  Mecklenburg     1100984         453          31      48.109
5   2022-02-12       Orange      147376         453           1       6.440
6   2022-02-12      Tyrrell        3436         453           0       0.150
7   2022-02-12         Wake     1112883         453          12      48.629
8   2022-02-19  Mecklenburg     1100984         561          23      59.579
9   2022-02-19       Orange      147376         561           0       7.975
10  2022-02-19      Tyrrell        3436         561           1       0.186
11  2022-02-19         Wake     1112883         561          28      60.222

In [50]:
dfff = dff[[
        'True_county_inc_deaths_tm_4',
        'True_county_inc_deaths_tm_5',
        'True_county_inc_deaths_tm_6',
        'HU_OCC',
        'EDU_DOCT',
        'POP_NH',
        'OCC_SERV',
        'HHI_00_10k',
          ]]

dfff.rename(d,axis=1,inplace=True)

with pd.option_context('display.precision', 3):
    dfff.style.set_table_styles([dict(selector="th",props=[('max-width', '1px')])])
    display(dfff)

,TRUE tm4,TRUE tm5,TRUE tm6,HU_OCC,EDU_DOCT,POP_NH,OCC_SERV,HHI_00_10k
0,19,3,8,435562,9016,950418,83019,18929
1,1,0,1,54783,7667,134701,10728,3721
2,0,0,0,1415,57,3295,333,71
3,0,4,3,422144,19892,998134,72454,14494
4,36,19,3,435562,9016,950418,83019,18929
5,0,1,0,54783,7667,134701,10728,3721
6,0,0,0,1415,57,3295,333,71
7,19,0,4,422144,19892,998134,72454,14494
8,25,36,19,435562,9016,950418,83019,18929
9,1,0,1,54783,7667,134701,10728,3721
10,0,0,0,1415,57,3295,333,71
11,7,19,0,422144,19892,998134,72454,14494