In [2]:
%%capture
%load_ext autoreload
%autoreload 2
from setup_nb_env import *

from epsampling.utils import load_csv
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

DATA_DIR = '/work/users/k/4/k4thryn/Repos/EpSampling/data/'
DT = datetime.today().strftime('%Y%m%d-%H%M%S')

In [4]:
timestamp = '20240927-114300'

fpath = os.path.join(DATA_DIR,'processed',f'formatted_state_fips_{timestamp}.csv')
df_fips = pd.read_csv(fpath)

fpath = os.path.join(DATA_DIR,'processed',f'formatted_COVIDhub-ensemble_{timestamp}.csv')
df_hub = pd.read_csv(fpath)

fpath = os.path.join(DATA_DIR,'processed',f'formatted_nytimes-us-counties_{timestamp}.csv')
df_nyt = pd.read_csv(fpath)

timestamp = '20240928-135202'
fpath = os.path.join(DATA_DIR,'processed',f'formatted_acs_pop_ratio_{timestamp}.csv')
df_acs = pd.read_csv(fpath)

display(df_fips.head())
display(df_hub, df_nyt, df_acs)

        State Postal  Fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

     Fips        Date  Projd_inc_deaths
0      66  2020-06-13          0.084503
1      69  2020-06-13          0.410538
2      72  2020-06-13          4.539067
3      78  2020-06-13          0.123634
4      11  2020-06-13         22.548359
...   ...         ...               ...
8198   60  2023-03-11          0.000000
8199   66  2023-03-11          0.000000
8200   69  2023-03-11          0.000000
8201   78  2023-03-11          0.000000
8202   US  2023-03-11       2246.000000

[8203 rows x 3 columns]

              Date   Fips  True_cum_deaths
0       2020-06-13   1001              6.0
1       2020-06-13   1003              9.0
2       2020-06-13   1005              1.0
3       2020-06-13   1007              1.0
4       2020-06-13   1009              1.0
...            ...    ...              ...
313231  2022-05-07  56037            126.0
313232  2022-05-07  56039             16.0
313233  2022-05-07  56041             39.0
313234  2022-05-07  56043             44.0
313235  2022-05-07  56045             18.0

[313236 rows x 3 columns]

,Fips,Pop,State_pop,Ratio,OCC_MBSA_ELCAM_L,IND_AFFHM_MQE,IND_PSMAW_M,HU_OCC_OPRgt200,HU_UIS50P,IND_WHT_x7,...,HU_x14,POP_F,POP_AIANNH,POP_AIAN,EDU_HS,POP_A3564,POP_M,POP_16p_EMP_x7,POP_A25p,POP_NH
0,2013,3409,735951,0.004632,0,0,0,0,0,0,...,1113,1395,1501,1505,1648,1760,2014,2213,2598,3050
1,2016,5251,735951,0.007135,0,6,9,11,12,47,...,1456,2256,523,549,2626,2471,2995,3655,3838,4740
2,2020,292545,735951,0.397506,1842,2985,428,499,2642,2860,...,118055,142897,19827,21150,94213,107273,149648,144598,193312,264762
3,2050,18514,735951,0.025157,32,90,250,239,9,19,...,5992,8790,15427,15640,6485,5770,9724,6454,10025,18131
4,2060,849,735951,0.001154,0,0,0,0,0,2,...,922,369,266,282,411,384,480,443,643,740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,42459,576641,0.073632,165,3135,0,30,73,561,...,19174,20609,454,506,16349,16838,21850,20884,27816,35626
3138,56039,23319,576641,0.040439,209,67,0,74,97,175,...,13255,11039,30,30,6148,9875,12280,14952,17659,19835
3139,56041,20514,576641,0.035575,0,748,0,8,62,116,...,8819,10077,20,52,8432,7709,10437,9688,13233,18533
3140,56043,7768,576641,0.013471,63,106,0,0,5,70,...,3842,3764,38,71,2992,2958,4004,3907,5423,6651
3141,56045,6891,576641,0.011950,12,572,0,0,9,30,...,3431,3207,88,90,2980,2724,3684,3044,4892,6763